<!-- templates/search.html -->

{% extends "base.html" %}

{% block content %}
    <form style="position: fixed; bottom: 45em; width: 80em "  method="POST" action="/search-image">
      <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" name="keyword" placeholder="Search for an image">
          </div>
          <div class="control">
            <button class="button is-primary" type = "submit" value = "Submit">
              Search
            </button>
          </div>
          <br>
            {% for error in errors %}
              <h4>{{ error }}</h4>
            {% endfor %}
          <br>
      </div>
    </form>
   
    <div >
      {% if results %}
      <h2 class="title is-4">Result</h2>
        <br>
       
        <div class="columns is-centered is-vcentered is-mobile">
          <table class="table  is-striped  is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th class="has-text-centered">File Name</th>
                <th class="has-text-centered">Safe Search</th>
              </tr>
            </thead>
            {% for result in results.result%}
              <tr>
                <td class="has-text-centered"><a href= {{result.md5}} style="color:blue;" target="_blank" rel="noopener noreferrer">{{ result.file_name }}</a></td>
                <td class="has-text-centered">{{ result.Safe }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
     
      {% endif %}
    </div>

{% endblock %}